{# bootstrap navbar with toggle navigation for login/logout and category selection #}
<nav class="navbar navbar-expand-sm navbar-fixed-top navbar-light">
    <a class="navbar-brand" href="#">Catalog App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            {# category dropdown to list all categories #}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                    {# for each category in category list #}
                    {# display category name #}
                    {% for catList in catLists %}
                    <a class="dropdown-item" href="#" id="menu-cat-{{ catList['id'] }}">
                        {{ catList["name"] }}</a>   {# category name #}

                    {# JS Function #}
                    <script type="text/javascript">
                        $(document).ready(function () {

                            {# click on category to display categories and its items #}
                            {# passing category id as parameter #}
                            $('#menu-cat-{{ catList["id"] }}').on('click', function (event) {
                                var list = {{ catList | tojson }};
                                baseURL = '{{ url_for("category", name="REPLACE") }}';
                                var url = baseURL.replace('REPLACE', list["name"]);
                                window.location.href = url;
                            });
                        });
                    </script>
                    {# end of JS Function #}
                    {% endfor %}
                </div>
            </li>
            {# end of category dropdown list #}

            <li class="nav-item">
            {# login/logout section #}
                {% if g.user is not none and current_user.is_authenticated %}
                    <a href='{{ url_for("login.logout") }}' class='nav-link logout' id="logout">
                        <i class="fa fa-lock" aria-hidden="true" data-toggle="tooltip"
                           data-placement="bottom" title="Logout"></i></a>
                {% else %}
                    <a href="#" class='nav-link login' id="login-nav" data-toggle="modal"
                       data-target="#login-menu">
                        <i class="fa fa-unlock-alt" aria-hidden="true" data-toggle="tooltip"
                           data-placement="bottom" title="Login"></i></a>

                    {% include 'login.html' %}
                {% endif %}
            {# end of login/logout #}
            </li>
        </ul>
    </div>
</nav>